.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 20px;
    height: 16px;

    cursor: pointer;
}

.burger-stripe {
    width: 2px;
    height: 2px;

    background-color: black;

    transition: width .2s;
}

.burger-active {
    .burger-stripe {
        width: 100%;
    }
}